body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:aliceblue;
    background-image: url("images.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

h1 {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.listitem {
    height: 70px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.listitem span {
    flex: 1;
    text-align: center;
}


.del {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 18px;
    margin-right: 5px;
}

.del:hover {
    background-color: darkred;
}
